.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 10px;
}

.dialog.active {
    background-color: crimson;
}

.dialogsItems {

}

.messages {

}

.message {
    padding: 10px;
}

.dialog {

}